{% extends 'login/base.html' %}

<!-- Agrega el título -->
{% block title%}Login{% endblock %}

<!-- Agrega el contenido -->
{% block content %}
<form action="">
  <h2 class="form_titulo">Inicia Sesión</h2>
  <p class="form_parrafo">Al ingresar tus datos</p>
  <a href="home.html" class="entrar">Entra aquí</a>

  <div class="form_contenedor">
    <div class="form_grupo">
      <input type="text" id="user" class="form_input" placeholder=" " />
      <label for="user" class="form_label">Usuario:</label>
      <span class="form_line"></span>
    </div>
    <div class="form_grupo">
      <input type="text" id="contraseña" class="form_input" placeholder=" " />
      <label for="contraseña" class="form_label">Contraseña:</label>
      <span class="form_line"></span>
    </div>
  </div>
</form>
{% endblock %}
