<!--Agrega el bloque extends-->
{% extends 'homebanking/templates/homebanking/base.html' %}

<!-- Agregamos el contenido estático -->
{% load static %}

<!-- Agregamos el título de clientes -->
{% block title %}ITBANK - Clientes {% endblock %}

<!-- Agregamos la información que queremos en el header -->
{% block headers %}
<h1>Clientes</h1>
{% endblock %}

<!--Agrega el contenido-->
{% block content %} {% for cliente in clientes %}
<div class="row">
  <div class="col-lg-7 col-md-8">
    <h2 class="'section-heading title">{{cliente.nombre, cliente.apellido}}</h2>
  </div>
</div>
{% endblock %}
